body {
    background-image: url('../assets/img/background_image.png'); 
    background-size: cover; 
    background-position: center;
    padding-top: 76px; /* Altura da navbar + padding */
}

footer {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
}

main {
    font-family: "Kanit", sans-serif !important;
}

nav h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;     
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
    margin-left: 9px;
    display: flex;
    align-items: center;
    height: 100%;
}

.btn-custom {
    background-color: #510feb !important;
    color: white !important;
    transition: all 0.3s ease !important;
}

.btn-custom:hover {
    background-color: white !important;
    color: #510feb !important;
}

.h1-highlighted {
    color: #510feb;
}

.links-style {
    color: #fdfeff;
    transition: all 0.3s ease;
}

.links-style:hover {
    color: #ae8bff;
}
