body {
    font-family: "Kanit", sans-serif;
    background-image: url('../assets/img/background_image.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(160, 160, 160, 0.7);
    backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    width: 320px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.input-group label {
    display: block;
    margin-bottom: 0px;
    font-size: 17px;
    text-align: left;
}

.input-group input {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 05px;
    font-size: 14px;
}

.button-login {
    width: 90%;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    background-color: #510feb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 2px auto;
}

.button-login:hover {
    background-color: hsl(0, 0%, 100%);
    color: black;
}

.form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    background-color: black;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 40px;
}

.singup-button {
    margin-right: 15px;
    background-color: #510feb;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.singup-button:hover {
    background-color: hsl(0, 0%, 100%);
    color: black;
}

header h1, header a {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;     
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
    margin-left: 9px;
    display: flex;
    align-items: center;
    height: 100%;
}
  
.h1-highlighted {
    color: #510feb;
}

form h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    font-style: normal;
    color: #000000;
    font-size: 30px;
    max-width: 90%;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.forgot-password a {
    color: #5025b3;
    font-size: 14px;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #ffffff;
    text-decoration: underline;
}