body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/background_image.png');
    background-size: cover;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-box {
    background-color: rgba(160, 160, 160, 0.7);
    backdrop-filter: blur(8px);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    width: 320px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.input-group {
    font-family: "Kanit", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    font-family: "Kanit", sans-serif;
}

form h2 {
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    font-size: 200%;
    max-width: 90%;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    border: none;
    border-bottom: 1px solid #2E8B57;
    outline: none;
    background: transparent;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
    text-align: left;
    color: rgb(0, 0, 0);
}

.input-group input {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #2E8B57;
    font-size: 12px;
}

.login-button {
    background: #2E8B57;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.login-button:hover {
    background: #3CB371;
}